{% extends 'base/base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
			</div>
			<h1 class="text-center">
				Vamos Decorar!!
			</h1>
             <br>
            <br>
            <br>
            <div class="col-md-12 column">
					<center><img alt="520x347" src= \static\img\decoracao\frente\1.jpg /></center>
                <br>
                <br>
                <br>
				</div>
            <br>

            <br>
            <br>
			<h2>
                O Clássico...
			</h2>
            <br>
			<p><h4>
			O clássico dos clássicos continua sendo o décor branco e verde, os móveis coloniais ou vitorianos. Todos os casamentos reais apostam nessa combinação e não têm erro. Além de lustres de cristal, pratarias trabalhadas e porcelanas também  marcam um casamento clássico. A renda e alguns elementos vintage na decoração (peças de cristal ou prata como candelabros) darão ao clássico um olhar mais antenado. Os arranjos de flores devem ser grandes, altos e redondos.
            </p></h4></p>
            <br>
            <br>
            <br>
        </div>


			<div class="row">
				<div class="col-md-4">
					<div class="Qual vai ser o tema de sua festa?">
						<img alt="300x200" src= \static\img\decoracao\temas\1.jpg />
						<div class="caption">
							<h3>
								Qual vai ser o tema de sua festa?
							</h3>
							<p>
								Já decidiu? Então venha conferir estas lindas opções!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver Temas</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Faça você mesma!!">
						<img alt="300x200" src= \static\img\decoracao\diy\1.jpg />
						<div class="caption">
							<h3>
								Faça você mesma!!
							</h3>
							<p>
								Está com o orçamento apertado é quer economizar sem deixar de fazer uma festa que seja a cara de vocês?? Inspire-ser nessas ideias e você não vai se arrepender!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Conferir ideias</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Inspire-se...">
						<img alt="300x200" src= \static\img\decoracao\inspiracao\1.jpg />
						<div class="caption">
							<h3>
								Inspire-se...
							</h3>
							<p>
								Não tem ideia do que fazer?? Veja essas tendências para não errar na hora da escolha!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver dicas</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}