{% extends 'base/base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
			</div>
			<h1 class="text-center">
				Vestidos, vestidos, vestidos... Mais vestidos!
			</h1>
             <br>
            <br>
            <br>
            <div class="col-md-12 column">
					<center><img alt="520x347" src= \static\img\vestidos\frente\zero.jpg /></center>
                <br>
                <br>
                <br>
				</div>
            <br>
            <br>
            <br>
			<h2>
				Vestida para casar
			</h2>
            <br>
			<p><h4>
				Qual mulher nunca se pegou sonhando com o momento especial da escolha entre as mais belas opções de vestidos de noiva?</p><p> Afinal, mesmo que não tenha nenhum pretendente à vista, muitas mulheres passam boa parte da vida folheando revistas especializadas no intuito de ter boas ideias para quando o grande dia chegar na errar na escolha da peça.

</p><p>O vestido de noiva é um dos itens mais encantadores de um planejamento de casamento – e, não por acaso, é o sonho de consumo de qualquer mulher que pensa em andar de branco rumo a um altar, dia desses.</p><p> O vestuário da noiva não só é o item mais importante do planejamento do grande dia, como também deve ser bem original, já que é a roupa mais desejada da vida de muitas mulheres.</p><br><p> Como ele deve ser?</p><p> O que deve salientar ou esconder no corpo da noiva?</p><p> Deve ter tomara que caia, frente única ou mangas compridas?</p><br><p> Tudo isso deve ser pensado com carinho antes que se escolha a vestimenta tão desejada e esperada.
			</p></h4></p>

            <br>
            <br>
            <br>

			<div class="row">
				<div class="col-md-4">
					<div class="Tendências 2015">
						<img alt="300x200" src= \static\img\vestidos\frente\um.jpg />
						<div class="caption">
							<h3>
								Tendências 2015
							</h3>
							<p>
								Venha e inspire-se nos clássicos 2015...
							</p>
							<p>
								<a class="btn btn-primary" href="#">Inspirar nos modelos 2015</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Qual é o seu vestido?">
						<img alt="300x200" src= \static\img\vestidos\frente\dois.jpg />
						<div class="caption">
							<h3>
								Qual é o vestido ideal para você?
							</h3>
							<p>
								Quer um vestido que além de combinar com você, realce ainda mais sua beleza? Veja o formato de seu corpo e fique linda!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Descobrir qual combina mais comigo</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Comprar X Alugar">
						<img alt="300x200" src= \static\img\vestidos\frente\tres.jpg />
						<div class="caption">
							<h3>
								Comprar X Alugar
							</h3>
							<p>
								Veja o que é mais vantajoso para você, comprar ou alugar.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver o que mais vale a pena</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}