{% extends 'base/base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
			</div>
			<h1 class="text-center">
				Vale a pena contratar Buffet?
			</h1>
             <br>
            <br>
            <br>
            <div class="col-md-12 column">
					<center><img alt="520x347" src= \static\img\buffet\frente\1.jpg /></center>
                <br>
                <br>
                <br>
				</div>
            <br>
            
            <br>
            <br>
			<h2>

			</h2>
            <br>
			<p><h4>
			O buffet sai mais caro, mas também tem um serviço mais completo. Se o casal quer um serviço completo, sem ter que se preocupar com garçons, e organização do salão (como as mesas, cadeiras e etc.) e está a procura de um cardápio mais requintado e elaborado, é a melhor opção. Alguns buffets costumam distribuir degustação aberta, onde os noivos podem experimentar a comida antes de fechar o cardápio, assim saberão se é a comida é de gosto deles.  O custo pode ser mais alto, mas também vale a pena, afinal a noiva não terá que se preocupar tanto.



<br><br>Se o casal quer optar por um cardápio caseiro e mais barato, a cozinheira é uma ótima opção. Procure referencia com amigos e familiares e veja qual o tipo de cardápio que ela tem a oferecer. A desvantagem em contratar uma cozinheira é que fica mais difícil para a noiva na hora de organizar o salão onde será servida a comida, ela terá que alugar as mesas, cadeiras e os talheres.

<br><br>Para que a escolha seja certa, a noiva deve ter em mente qual o estilo de seu casamento, será de tarde com um almoço ou um jantar à noite? Ela quer optar pela praticidade ou pelo preço mais em conta? Tudo isso é muito importante e a noiva deve começar a planejar isso com de 6 a 10 meses de antecedência.
            </p></h4></p>
            <br>
            <br>
            <br>
        </div>


			<div class="row">
				<div class="col-md-4">
					<div class="Tendências Gastronômicas 2015">
						<img alt="300x200" src= \static\img\buffet\tendencias\1.jpg />
						<div class="caption">
							<h3>
								Tendências Gastronômicas 2015
							</h3>
							<p>
								Veja o que a cozinha de 2015 reserva para você!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Descobrir</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Lista de Fornecedores da Região">
						<img alt="300x200" src= \static\img\buffet\fornecedores\1.jpg />
						<div class="caption">
							<h3>
								Lista de Fornecedores da Região
							</h3>
							<p>
								Com esta lista, fica mais fácil de encontrar fornecedores que estão pertinho de você!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver Lista</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="O que você precisa saber antes de contratar um Buffet">
						<img alt="300x200" src= \static\img\buffet\dicas\1.jpg />
						<div class="caption">
							<h3>
								O que você precisa saber antes de contratar um Buffet
							</h3>
							<p>
								É um dos serviços mais importantes, então confira nossas dicas e depois fique tranquilo
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver dicas</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}