{% extends 'base/base.html' %}
{% block body %}




    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Casar Mais Fácil</h1>
                <p>{% trans %}Dicas, Inspirações, Fornecedores... Tudo em um só lugar!!{% endtrans %}</p>
            </div>
        </div>
        <br/>

    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src=\static\img\home\4.jpg />
						<div class="caption">
							<h3>
								Estética para Noivas
							</h3>
							<p>
								Dicas de como estar com a pele impecável no grande dia.
                            </p>
							<p>
								<a class="btn btn-primary" href="#">Ver Mais</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src= \static\img\home\2.jpg />
						<div class="caption">
							<h3>
								Decoração e Tendências 2015
							</h3>
							<p>
								Fique por dentro das tendências de decoração, são opções que valem a pena conferir!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver Mais</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src= \static\img\home\3.jpg />
						<div class="caption">
							<h3>
								Lua de Mel
							</h3>
							<p>
								E aí!? Já sabe onde vai passar sua Lua de Mel? Confira nossas dicas!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver Mais</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


    </div>





{% endblock %}