{% extends 'base/base.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
			</div>
			<h1 class="text-center">
				Eles também merecem!!
			</h1>
             <br>
            <br>
            <br>
            <div class="col-md-12 column">
					<center><img alt="520x347" src= \static\img\noivo\frente\1.jpg /></center>
                <br>
                <br>
                <br>
				</div>
            <br>
            
            <br>
            <br>
			<h2>

			</h2>
            <br>
			<p><h4>
			Pois é... O noivo não é coadjuvante, e sim tão principal como a noiva no grande dia. Então, ele merece todo o cuidado na escolha do traje (tem que ser algo diferenciado e que lhe caia bem, e não um terno “quadrado”) e nos momentos que antecedem o casamento também merecem estar com profissionais qualificados para que fiquem lindos para a noiva e também nas fotos.
            </p></h4></p>
            <br>
            <br>
            <br>
        </div>


			<div class="row">
				<div class="col-md-4">
					<div class="Cuidados do noivo">
						<img alt="300x200" src= \static\img\noivo\cuidados\um.jpg />
						<div class="caption">
							<h3>
								Cuidados do noivo
							</h3>
							<p>
								Sim noivo!! Você também precisa de cuidados para o grande dia!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver cuidados</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Qual é o traje ideal para você?">
						<img alt="300x200" src= \static\img\noivo\traje\0.jpg />
						<div class="caption">
							<h3>
								Qual é o traje ideal para você?
							</h3>
							<p>
								Confira aqui alguns modelos... Cuidado, você poderá encontrar o seu!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Descobrir qual combina mais comigo</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="Com qual sapato vou?">
						<img alt="300x200" src= \static\img\noivo\sapatos\1.jpg />
						<div class="caption">
							<h3>
								Com qual sapato vou?
							</h3>
							<p>
								Sim, este também é um ponto importante!!
							</p>
							<p>
								<a class="btn btn-primary" href="#">Ver modelos</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}